{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Mãos que Cuidam da Água
{% endblock title %}
{% block content %}



<div class="general-title--1">
  Mãos que Cuidam da Água
</div>



<div class="background-gradient--1">



  <div class="news-body">
    <div style="text-align: center; padding-bottom: 50px; padding-top: 30px">
      <img class="img-fluid" style="border-radius: 15px" src="{% static 'media/home/capa3.jpg' %}">
    </div>
    <h2 style="padding-bottom: 15px">
      Bem-vindo/a à Mãos que Cuidam da Água: Empoderando a Juventude para o Futuro Sustentável
    </h2>
    <p>
      Em um mundo onde a escassez de água e a degradação ambiental são desafios cada vez mais urgentes, a organização "Mãos que Cuidam da Água" surge como uma voz inspiradora e catalisadora de mudança. Nosso compromisso, dentre outros é empoderar a juventude e desenvolver líderes para promover a conscientização e o cuidado com a água, essencial para a promoção da sustentabilidade.
    </p>
    <p>
      Como estratégias se proprõem o emprego de soluções inovadoras, porém fundamentadas nos conhecimentos ancestrais, para envolver a juventude no cuidado com a água.  Reconhecemos que os jovens são agentes poderosos de mudança e que nosso engajamento é fundamental para construir um futuro sustentável. 
    </p>
    <p>
      Por meio de programas educacionais, atividades práticas e campanhas de sensibilização, capacitamos  jovens a se tornarem defensores e transformadores ativos da água e do meio ambiente em suas comunidades. E ainda, com abordagens focadas no desenvolvimento de habilidades de liderança, resiliência e advocacy, esperamos que os jovens possam promover uma diferença positiva em suas vidas e no mundo ao seu redor.
    </p>
    <p>
      Acreditamos no empoderamento e no desenvolvimento de lideranças como ferramentas-chave para promover a conscientização e a ação em prol da água, como oportunidade para que nós jovens, possamos assumir papéis de liderança em nossas comunidades e sermos agentes de mudança eficazes. 
    </p>
    <p>
      Na "Mãos que Cuidam da Água", estamos certos de que juntos podemos construir um futuro sustentável, onde a água seja valorizada, protegida e acessível a todos. Ao envolver a juventude, capacitá-los como líderes e promover a conscientização sobre o cuidado com a água, estamos construindo as bases para um mundo mais justo, saudável e próspero para as gerações futuras.
    </p>
    <p>
      Junte-se a nós nesta jornada emocionante de cuidar da água e do nosso planeta. Juntos, podemos fazer a diferença.
    </p>
    <p>
      Na Mãos que Cuidam da Água&nbsp; contamos com parcerias estratégicas e valiosas, como a <a href="https://www.alcoa.com/foundation/en" target="_blank" rel="noopener noreferrer" class="external">Alcoa Foundation</a>, a <a href="https://www.to.gov.br/seduc" target="_blank" rel="noopener noreferrer" class="external">Secretaria de Educação do Estado do Tocantins</a>, membros de diferentes organizações como da&nbsp; <a href="https://www.globalshapers.org/hubs/belo-horizonte-hub/" target="_blank" rel="noopener noreferrer" class="external">Global Shapers do hub Belo Horizonte</a> e <a href="https://www.globalshapers.org/hubs/recife-hub/" target="_blank" rel="noopener noreferrer" class="external">Pernambuco</a>, do <a href="https://engajamundo.org/pt/" target="_blank" rel="noopener noreferrer" class="external">Engajamundo</a> e da <a href="https://www.avidanocerrado.com/" target="_blank" rel="noopener noreferrer" class="external">Vida no Cerrado</a>.
    </p>
    <p>
      Estabelecer parcerias com outras organizações não governamentais, empresas, governos locais e comunidades Indígenas para fortalecer as iniciativas de conservação da água e ampliar o alcance dos programas e projetos da organização é um dos nossos objetivos.
    </p>
    <h3 style="padding-bottom: 15px;padding-top: 15px">
      Na Mãos que Cuidam da Água objetivamos desenvolver diferentes ações
    </h3>
    <h4>
      Formação de Lideranças
    </h4>
    <p>
      Capacitar jovens, com foco de atenção às jovens mulheres de comunidades indígenas, quilombolas e ribeirinhas para assumirem papéis de liderança na gestão e conservação dos recursos hídricos.
    </p>
    <p>
      Fornecer treinamento em habilidades de liderança, comunicação, advocacy e resolução de conflitos para jovens de comunidades vulneráveis, adaptados às realidades culturais e contextos específicos dessas comunidades.
    </p>
    <h4>
      Inclusão e Participação
    </h4>
    <p>
      Promover a inclusão de jovens nas tomadas de decisão e processos de governança relacionados à gestão dos recursos hídricos, garantindo sua representação e participação ativa em fóruns, comitês e iniciativas locais e regionais.
    </p>
    <p>
      Estimular a formação de redes de apoio e troca de experiências entre jovens de diferentes comunidades, fortalecendo sua capacidade de influenciar políticas e práticas relacionadas à água.
    </p>
    <h4>
      Preservação da Cultura e Conhecimento Tradicional
    </h4>
    <p>
      Valorizar e promover a preservação da cultura, tradições e conhecimento tradicional das comunidades Indígenas, Quilombolas e Ribeirinhas, reconhecendo sua conexão profunda com a água e os ecossistemas aquáticos.
    </p>
    <p>
      Apoiar iniciativas lideradas por jovens para documentar e transmitir conhecimentos ancestrais sobre a gestão sustentável da água e o uso tradicional dos recursos naturais.
    </p>
    <h4>
      Campanhas de Conscientização e Educação
    </h4>
    <p>
      Desenvolver e implementar campanhas educativas em escolas, comunidades locais e online para aumentar a conscientização sobre a importância da conservação da água e práticas sustentáveis de uso e reuso.
    </p>
    <h4>
      Projetos de Restauração de Ecossistemas Aquáticos:
    </h4>
    <p>
      Colaborar com instituições ambientais e governamentais para realizar projetos de restauração de ecossistemas aquáticos, como a revitalização de rios, nascentes e áreas úmidas, visando melhorar a qualidade e disponibilidade da água.
    </p>
    <h4>
      Treinamentos
    </h4>
    <p>
      Oferecer treinamentos e capacitações para membros das comunidades locais sobre práticas agrícolas sustentáveis, manejo de resíduos, conservação de recursos hídricos e medidas de adaptação às mudanças climáticas.
    </p>
    <h4>
      Desenvolvimento de Projetos de Água Potável e Saneamento:
    </h4>
    <p>
      Colaborar com agências governamentais e organizações de desenvolvimento para implementar projetos de infraestrutura de água potável e saneamento em comunidades carentes, garantindo o acesso universal a serviços básicos de água e saneamento.
    </p>
  </div>
</div>

{% endblock content %} 