{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Contato
{% endblock title %}
{% block content %}
<div class="home-background">
  <div class="general-title--2">
    Contato
  </div>
  <div class="news-content">
    <p style="padding-top: 20px">
      ATENÇÃO: Por enquanto, o Museu da Água é apenas um museu virtual! As informações de localização nesta página referem-se aos contatos de administração do projeto.
    </p>
    <p>
      Entre em contato conosco! Envie um e-mail para: <mark><strong>museudaagua@uft.edu.br</strong></mark>
    </p>
  </div>

  <div style="height: 25px"></div>

  <div class="general-title--2">
    Conselho Diretor
  </div>

  <div class="news-bg">
    <div class="news-content-2">
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\liliana.jpg'%}" alt="Liliana Pena Naval">
        <h3>Liliana Pena Naval</h3>
        <p>é diretora do Museu da Água da Universidade Federal do Tocantins (UFT) e professora do Programa de Pós-Graduação em Ciências do Ambiente e do Programa em Prestação Jurisdicional e Direitos Humanos da Universidade Federal do Tocantins (UFT).</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\antonio.jpg'%}" alt="Antônio Augusto Rossotto">
        <h3>Antônio Augusto Rossotto</h3>
        <p>é professor de Geografia Política e diretor do Programa de Pós-Graduação em Desenvolvimento e Meio Ambiente, Escola de Geografia e Planejamento da Universidade de Cardiff, Reino Unido.</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\cynthia.jpg'%}" alt="Cynthia Mara Miranda">
        <h3>Cynthia Mara Miranda</h3>
        <p>é professora da Universidade Federal do Tocantins (UFT) atuando no curso de Jornalismo, no Programa de Pós-Graduação em Comunicação e Sociedade e no Programa de Pós-Graduação em Ciências do Ambiente.</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\heber.png'%}" alt="Heber Rogerio Gracio">
        <h3>Heber Rogerio Gracio</h3>
        <p>é professor associado da Universidade Federal do Tocantins (UFT), com atuação nos Programas de Pós-Graduação em Ciências do Ambiente (Ciamb) e Gestão de Políticas Públicas (Gespol).</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\mary.jpg'%}" alt="Maryellen Crisóstomo">
        <h3>Maryellen Crisóstomo</h3>
        <p>é quilombola, jornalista e coordenadora do coletivo de comunicação da Coordenação Nacional de Articulação das Comunidades Rurais Negras Quilombolas (Conaq).</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\narubia.png'%}" alt="Narubia Silva Werreira Karajá">
        <h3>Narubia Silva Werreira Karajá</h3>
        <p>é líder indígena, escritora e secretária dos Povos Originários e Tradicionais do Estado do Tocantins.</p>
      </div>
      <div class="col-md-4 profile-card">
        <img src="{%static 'media\contatos\tomas.jpg'%}" alt="Tomás Bastos Ramos">
        <h3>Tomás Bastos Ramos</h3>
        <p>é mestre em Ciências das Zonas Costeiras pela Universidade de Aveiro e possui licenciatura em Engenharia do Ambiente pela Universidade Nova de Lisboa.</p>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %} 