{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Parceiros
{% endblock title %}
{% block content %}

<div class="home-background">
  <div class="general-title--2">
    Nossos Parceiros
  </div> 
  <div style="text-align: center; max-width: 60%; margin: 0 auto; border-radius: 50px; background-color: aliceblue; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);">
    <img class="img-fluid" src="{% static 'media\home\parceiros\parceirosmais.png' %}" alt="">
  </div>
  <div class="container" style="background: transparent; box-shadow: none;">
    <div class="row row-maosquecuidam">
    
      <div class="col-md-6">
        <div style="padding: 20px;">
          <h3 class="atividade-title">
              Alcoa<br>Foundation
          </h3>
          <h4 style="color: aliceblue;">
            Alcoa transforma potencial bruto em progresso real.
          </h4>
          <p style="text-align: justify; color: aliceblue; padding: 5px;">
              <i class="fa-solid fa-quote-left"></i> Fundada em 1952, a Alcoa Foundation colabora com organizações beneficentes confiáveis ​​ao redor do mundo para ser um catalisador de impacto positivo, investindo em projetos que promovam resultados sociais, ambientais e econômicos sustentáveis, com prioridade nas regiões onde a Alcoa opera. <i class="fa-solid fa-quote-right"></i>
          </p>
          <p style="text-align: center;">
            <a href="https://www.alcoa.com/foundation/en" target="_blank">
              <button class="carousel-button">Visite Nosso Parceiro</button>
            </a>
          </p>
        </div>
      </div>
    
      <div class="col-md-6">
        <div style="display: flex; align-items: center; height: 100%;">
          <img class="img-fluid imagem-parceiros-pos" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); width:80%;" src="{%static 'media\home\parceiros\alcoabow.png'%}" alt="ALCOA FOUNDATION IMAGE">
        </div>
      </div>
    </div>
  </div>
    
  <div class="container" style="background: transparent; box-shadow: none;">
    <div class="row row-aaguaquequeremos">
      <div class="col-md-6">
        <div style="display: flex; align-items: center; height: 100%;">
          <img class="img-fluid" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);" src="{%static 'media\home\parceiros\wamunet.png'%}" alt="Water Museums Global Network">
        </div>
      </div>

      <div class="col-md-6" >
        <div style="padding: 20px;">
          <h3 class="atividade-title">
            Water Museums<br>Global Network
          </h3>
          <h4 style="color: aliceblue;">
            Promover um novo senso de preservação de água doce e civilização aquática.
          </h4>
          <p style="text-align: justify; color: aliceblue; padding: 5px;">
            <i class="fa-solid fa-quote-left"></i> Hoje, há uma necessidade urgente de promover perspectivas inovadoras, transdisciplinares e holísticas para superar abordagens técnicas indevidamente estreitas que provaram ser uma resposta inadequada aos desafios das crises globais da água. Nesse contexto, os museus desempenham um papel fundamental para pavimentar o caminho para a mudança de paradigma e construir uma "nova cultura da água". Juntos, os museus podem promover conexões mais fortes com os mais diversos "mundos da água" que as sociedades de consumo tendem a esquecer e obliterar. A WAMU-NET visa consolidar a cooperação com essas instituições em todo o mundo. <i class="fa-solid fa-quote-right"></i>
          </p>
          <p style="text-align: center;">
            <a href="https://www.watermuseums.net/" target="_blank">
              <button class="carousel-button">
                Visite a WAMU-NET
              </button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="background: transparent; box-shadow: none;">
    <div class="row row-maosquecuidam">
    
      <div class="col-md-6">
        <div style="padding: 20px;">
          <h3 class="atividade-title">
            Universidade Federal<br>do Tocantins
          </h3>
          <p style="text-align: justify; color: aliceblue; padding: 5px;">
            <i class="fa-solid fa-quote-left"></i> A Universidade Federal do Tocantins (UFT) foi criada pela lei nº 10.032, de 23 de outubro de 2000 e publicada no Diário Oficial da União de 24 de outubro de 2000 .A UFT é uma instituição de ensino superior pública federal brasileira, multicâmpi, sediada na cidade de Palmas, capital do estado do Tocantins, com câmpus em Arraias, Gurupi, Miracema do Tocantins e Porto Nacional. <i class="fa-solid fa-quote-right"></i>
          </p>
          <p style="text-align: center;">
            <a href="https://www.uft.edu.br/" target="_blank">
              <button class="carousel-button">
                Portal UFT
              </button>
            </a>
          </p>
        </div>
      </div>
    
      <div class="col-md-6">
        <div style="display: flex; align-items: center; height: 100%; ">
          <img class="img-fluid imagem-parceiros-pos" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); max-width:80%; max-height: 400px" src="{%static 'media\home\parceiros\uft.png'%}" alt="ALCOA FOUNDATION">
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="background: transparent; box-shadow: none;">
    <div class="row row-aaguaquequeremos">
      <div class="col-md-6">
        <div style="display: flex; align-items: center; height: 100%;">
          <img class="img-fluid" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);" src="{%static 'media\home\parceiros\fapto.jpg'%}" alt="FAPTO Logo">
        </div>
      </div>

      <div class="col-md-6" >
        <div style="padding: 20px;">
          <h3 class="atividade-title">
            Fundação de Apoio Científico e<br>Tecnológico do Tocantins
          </h3>
          <h4 style="color: aliceblue;">
            Desenvolvedores de Projetos inovadores e parceirias de sucesso.
          </h4>
          <p style="text-align: justify; color: aliceblue; padding: 5px;">
            <i class="fa-solid fa-quote-left"></i> Somos uma instituição privada sem fins lucrativos, fundada em junho de 2004 por 57 servidores da Universidade Federal do Tocantins (UFT).Nossa missão é apoiar parceiros no desenvolvimento de projetos de ensino, pesquisa, extensão, inovação, empreendedorismo e desenvolvimento tecnológico. Acreditamos que essa combinação é essencial para impulsionar    o desenvolvimento do Brasil. <i class="fa-solid fa-quote-right"></i>
          </p>
          <p style="text-align: center;">
            <a href="https://fapto.org.br/" target="_blank">
              <button class="carousel-button">
                Conheça a FAPTO
              </button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %} 