{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Acervo
{% endblock title %}
{% block content %}


<div class="general-title--1" style="border-bottom: 0px">
  Acervo
</div>
<div style="border-bottom: 1px solid #cce0ff">
  <p style="text-align:center;font-family: roboto;font-weight: 400;font-style: italic; ">Mais Fotografias</p>
</div>


  
<div class="gallery" style="width: 80%; margin: 0 auto; padding-top: 40px">
  {% for image in images %}
  <div class="gallery-item" onclick="openImage({{ forloop.counter0 }})">
    <img src="{{ image.image.url }}" alt="{{ image.title }}">
  </div>
  {% endfor %}
</div>
<div id="full-screen-view" class="full-screen-view">
  <span class="close" onclick="closeImage()">&times;</span>
  <span class="prev" onclick="prevImage()">&#10094;</span>
  <span class="next" onclick="nextImage()">&#10095;</span>
  <img id="full-image" class="full-image">
  <div id="image-caption" class="caption"></div>
</div>


<div class="gallery-info">
  <div class="gallery-subtittle">
    Livros
  </div>
</div style="text-align: center">

<p style="text-align: center">
  <a href="https://docs.uft.edu.br/share/proxy/alfresco-noauth/api/internal/shared/node/orkCU0BhS3SItmLLCCBPJw/content" target="_blank"><strong><i class="fa-solid fa-file-pdf"></i></strong> Framework Water Sustainability - Antonio Loris(2018).pdf</a>
</p>
<p style="text-align: center">
  <a href="https://docs.uft.edu.br/share/proxy/alfresco-noauth/api/internal/shared/node/hwOeZEmqTZWr3REop_lvPA/content" target="_blank"><strong><i class="fa-solid fa-file-pdf"></i></strong> Na Contracorrente dos Recursos Hídricos - Antonio Loris(2013).pdf</a>
</p>



<script src="{% static 'js/scripts.js' %}"></script>
<script>
  var images = [
    {% for image in images %}
        {url: "{{ image.image.url }}", title: "{{ image.title }}"},
    {% endfor %}
  ];
  var currentIndex = 0;

  function openImage(index) {
      currentIndex = index;
      document.getElementById('full-screen-view').style.display = 'flex';
      updateImage();
      document.addEventListener('keydown', handleKeyDown);
  }

  function closeImage() {
      document.getElementById('full-screen-view').style.display = 'none';
      document.getElementById('full-image').src = '';
      document.getElementById('image-caption').innerText = '';
      document.removeEventListener('keydown', handleKeyDown);
  }

  function updateImage() {
      document.getElementById('full-image').src = images[currentIndex].url;
      document.getElementById('image-caption').innerText = images[currentIndex].title;
  }

  function nextImage() {
      currentIndex = (currentIndex + 1) % images.length;
      updateImage();
  }

  function prevImage() {
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      updateImage();
  }

  function handleKeyDown(event) {
      if (event.key === 'Escape') {
          closeImage();
      } else if (event.key === 'ArrowRight') {
          nextImage();
      } else if (event.key === 'ArrowLeft') {
          prevImage();
      }
  }
</script>


{% endblock content %} 