{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
O Curupira
{% endblock title %}
{% block content %}

<div class="general-title--1" style="border-bottom: 0px">
  Custos
</div> 
<div style="border-bottom: 1px solid #cce0ff">
  <p style="text-align:center;font-family: roboto;font-weight: 400;font-style: italic; ">
    um filme de Marilene Ribeiro
  </p>
</div>



<div class="custos-div">
  <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/267872971?h=ed31ea26b5&color=d1ccd1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div style="text-align:justify; ">
    <img src="https://licensebuttons.net/l/by-nc-nd/4.0/88x31.png"> Esta obra está licenciada com uma licença <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons.</a>
  </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="container-box">
  <div class="gallery-info">
    <div class="general-title--1" style="border-bottom: 0px">
      Sinopse
    </div>
    <p style="text-align:justify; color:#333333;">
      O filme serve como uma comovente contra-resposta aos significativos investimentos realizados nos últimos anos na construção de grandes hidrelétricas no Brasil, que se posicionaram como soluções para o crescimento econômico do país. Em formato curto, mas impactante, o filme destaca os problemas socioambientais que surgiram como consequência direta desses ambiciosos projetos.    
    </p>
    <p style="text-align:justify; color:#333333;">
      Especificamente, o filme investiga as experiências e desafios associados a três notáveis usinas hidrelétricas: Sobradinho na Bahia (construída entre 1971-1978), Belo Monte no Pará (construída entre 2011-2019) e a planejada usina de Panambi no Rio Grande do Sul. . Através das vozes das pessoas diretamente afetadas por estes projetos, o filme proporciona uma plataforma para indivíduos e comunidades expressarem as suas perspectivas, queixas e preocupações.
    </p>
    <p style="text-align:justify; color:#333333;">
      Um dos aspectos mais convincentes do filme é a ênfase nos custos imateriais incorridos por esses empreendimentos gigantescos. Além do impacto físico e ambiental, o filme destaca o custo humano e cultural que acompanha esses projetos. Destaca as consequências emocionais e sociais, muitas vezes negligenciadas, que podem resultar de desenvolvimentos industriais em grande escala, lançando luz sobre as histórias de pessoas e comunidades que se veem confrontadas com mudanças profundas no seu modo de vida e no seu ambiente.
    </p>
  </div>
  <div class="table-content">
    <table>
        <thead>
            <tr>
                <th colspan="2">Ficha Técnica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Direção e roteiro:</strong></td>
                <td>Marilene Ribeiro</td>
            </tr>
            <tr>
                <td><strong>Trilha sonora:</strong></td>
                <td>André Rocha</td>
            </tr>
            <tr>
                <td><strong>Montagem:</strong></td>
                <td>Barão Fonseca</td>
            </tr>
            <tr>
                <td><strong>Fotografia:</strong></td>
                <td>Michel Becheleni e Marilene Ribeiro</td>
            </tr>
            <tr>
                <td><strong>Pós-produção:</strong></td>
                <td>Leandro Aragão</td>
            </tr>
            <tr>
                <td><strong>Consultoria:</strong></td>
                <td>André Hallak</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}
