{% extends "pages/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
O Curupira
{% endblock title %}
{% block content %}
<div class="general-title--1" style="border-bottom: 0px">
  O Curupira
</div>


  
<div style="border-bottom: 1px solid #cce0ff">
  <p style="text-align:center;font-family: roboto;font-weight: 400;font-style: italic; ">um filme de Carolina Fernandes</p>
</div>



<div class="custos-div">
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/54705959?h=bb08e473c1&color=d1ccd1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div style="text-align:justify; ">
    <img src="https://licensebuttons.net/l/by-nc-nd/4.0/88x31.png"> Esta obra está licenciada com uma licença <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons.</a>
  </div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>

<div class="container-box">
  <div class="gallery-info">
    <div class="general-title--1" style="border-bottom: 0px">
      Sinopse
    </div>
    <p style="text-align:justify; color:#333333;">
      O Curupira é um filme cativante que surge como parte de uma louvável iniciativa que visa popularizar o conhecimento científico sobre a ecologia da conservação, da pesca, da piscicultura e do manejo sustentável das espécies de peixes nativas da bacia amazônica. Este projeto, liderado pela Banksia Films, dá um passo notável no sentido de colmatar a lacuna entre a investigação científica e a compreensão pública.
    </p>
    <p style="text-align:justify; color:#333333;">
      Dirigido por Carolina Fernandes e habilmente editado e finalizado por Henrique Santos, o filme não só oferece insights ecológicos essenciais, mas também o faz de uma forma visualmente envolvente e acessível. Captura a essência da bacia amazônica e seu ecossistema único, permitindo que os espectadores se conectem com o mundo natural de uma forma significativa.
    </p>
    <p style="text-align:justify; color:#333333;">
      Ao investigar os meandros da conservação, práticas pesqueiras, piscicultura e manejo de espécies, "O Curupira" educa seu público sobre a importância crítica de preservar a biodiversidade da Amazônia. O filme destaca o delicado equilíbrio necessário para sustentar o meio ambiente e a subsistência daqueles que dele dependem.
    </p>
  </div>
  <div class="table-content">
    <table>
        <thead>
            <tr>
                <th colspan="2">Ficha Técnica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Direção e roteiro:</strong></td>
                <td>Carolina Fernandes</td>
            </tr>
            <tr>
                <td><strong>Edição:</strong></td>
                <td>Henrique Santos</td>
            </tr>
            <tr>
                <td><strong>Produção:</strong></td>
                <td>Banksia Films</td>
            </tr>
            
        </tbody>
    </table>
  </div>
</div>


{% endblock content %} 